@font-face {
	font-family: 'Chinese Rocks';
	src: url('chineserocks.ttf');
}

* {
	font-family: inherit;
	font-size: inherit;
}

::selection {
	background-color: #d00;
}

html, body {
	background: none;
	padding: 0;
	margin: 0;
	font-family: Helvetica;
	font-size: 2vh;
	overflow: hidden;
}

button {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border: solid 1px white;
	font-family: "Chinese Rocks";
	font-size: 2vh;
}

button:hover:enabled, button:focus:enabled {
	background-color: rgba(255, 0, 0, 0.5);
}

button:active:enabled {
	background-color: white;
	color: black;
}

button:disabled {
	color: #444;
	border: solid 1px #444;
}

input {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border: solid 1px white;
}

input:disabled {
	color: #444;
	border: solid 1px #444;
}

select {
	background: rgba(0, 0, 0, 0.5);
	color: white;
	border: solid 1px white;
}

option {
	background-color: #000;
}

::-webkit-scrollbar {
	background: black;
}

::-webkit-scrollbar-thumb {
	background-color: white;
}

#ui {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 0.5vh 0.5vw;
	flex-flow: column;
	min-width: 25vw;
	max-height: 90vh;
	overflow: hidden;
}

#start-phonograph {
	display: flex;
	padding: 0.5vh 0;
}

#url {
	flex-grow: 1;
}

#volume-container, #offset-container {
	padding: 0 0.2vw;
}

#active-phonographs {
	display: table;
	padding: 0;
	overflow-y: auto;
}

.active-phonograph {
	display: table-row;
}

.active-phonograph-handle, .active-phonograph-title, .active-phonograph-volume, .active-phonograph-time {
	display: table-cell;
	padding: 0.5vh 0.5vw 0.5vh 0;
}

.active-phonograph-controls {
	display: table-cell;
	text-align: right;
}
